html
    head
        title projet web jerem.v
        link(rel="stylesheet",href="styles.css")

    body
        ul

        div(class='cadrelogin')
            img(src='avion.png')
            h2 Welcome back! Please login

            form(method="GET", action="/testCo")

                p Sign in with your e-mail address
                input(name="pseudo", type="text",placeholder="Pseudo")
                br
                p Password
                input(name="password", type="text",placeholder="Mot de passe ")
                br
                button(type="submit") Sign in to Dashboard
                br
                br
                img(src='reseaux.png')



